.container {
  color: white;
  width: 400px;
  /* height: 600px; */
  /* padding: 20px; */
}

.info-image img {
  width: 11rem;
  position: relative;
  bottom: 18rem;
  left: 35rem;
}

.info-area {
  position: relative;
  right: 30rem;
  display: flex;
  width: 800px;
  height: 210px;
  text-align: center;
  margin-left: 25rem;
  background-color: rgb(56, 56, 255);
  top: 15px;
  border-radius: 10px;
}

.info-area-image img {
  width: 20rem;
  padding-top: 10px;
  margin-right: 10px;
}

.info-area-image {
  height: 300px;
  width: 500px;
  text-align: right;
}

.info-area-text {
  padding-top: 10px;
  width: 300px;
  /* height: 300px; */
  margin-left: 50px;
  text-align: justify;
}

.info-description {
  font-size: 13px;
  text-align: center;
  overflow: hidden;
  color: rgb(173, 165, 165);
  width: 50rem;
  position: relative;
  top: 2rem;
  left: 36rem;
  line-height: 1.8;
  text-align: justify;
  /* height: 300px; */
}

.team-info-background {
  background-color: rgb(2, 2, 41);
  height: 65rem;
}

/* Footer  */

.footer-icon {
  text-align: center;
  padding: 40px;
}

span {
  padding: 10px;
}

.social-icon1 {
  background-color: white;
  border-radius: 80%;
}
.social-icon2 {
  background-color: white;
  border-radius: 80%;
}
.social-icon3 {
  background-color: white;
  border-radius: 80%;
}
